
/* Navigation */
.navbar {
	background-color: #222;
	border-color: #1D5FA3;
	border: 0 0 20px 0;
	margin: 0 auto;
	border-radius: 3px;
}
.navbar a {
	color: white !important;
}
.navbar .navbar-nav .active a {
	background-color: #173154;
}
.navbar .navbar-nav .active a:hover {
	background-color: #173154 !important;
}
.navbar .navbar-nav a {
	background-color: #21477A;
}
.navbar .navbar-nav a:hover {
	background-color: #173154 !important;
}
.navbar-collapse {
	border: 0;
}

.nopad {
	padding: 0;
}
.panel {
	border: 0;
}

html {
	background: url('img/bg.png');
	background: linear-gradient(rgba(10, 10, 20, 0.5), rgba(10, 10, 20, 0.65)), url('img/bg.png'); /* Subtle blue gradient FIXME looks odd when scrolling down */
	height: 100%; /* Hack to make the background fit the entire page. Looks bad when scrolling. */
}
body {
	background-color: transparent;
	margin-top: 75px; /* Top margin */
}
p {
	text-align: justify;
}
.main {
	background: white;
	border-radius: 3px;
}
.content {
}
.image-row {
	text-align: center;
}
.image-row img {
	width: 100%;
}
.links {
	margin-top: 25px;
	text-align: center;
	padding: 10px;
	background: white;
}
.links ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: inline-block;
}
.links ul li {
	margin: 0 auto;
	display: table-cell;
	width: 100px;
}