@import url(http://fonts.googleapis.com/css?family=Exo+2);

/* Navigation */
.navbar {
	height: 50px !important;
	background: #CC4F37;
	border-color: #CC4F37;
	margin: 0 auto;
	border-radius: 0;
	border: 0;
	box-shadow: 0 2px 7px #555;
}
.navbar-header {
	background: #bb3e26;
	border-radius: 3px;
	padding: 5px;
	text-align: center;
	color: white;
}
.navbar a {
	color: #fff !important;
}
.navbar .navbar-nav .active a {
	background-color: #991400;
}
.navbar .navbar-nav .active a:hover {
	background-color: #991400 !important;
}
.navbar .navbar-nav a {
	background-color: #730F00;
}
.navbar .navbar-nav a:hover {
	background-color: #991400 !important;
}
.navbar-collapse {
	border: 0;
}
html {
	background: url("img/pixel_weave.png");
	height: 100%;
}
.dark-bg {
	background: rgba(20, 20, 20, 0.095);
}

#carousel-1 {
	margin-bottom: 10px;
}
.carousel-control.left, .carousel-control.right {
	background: none;
}

#energy-chart {
	height: 500px;
}

.wrapper {
	padding: 50px 0;
}
.nopad {
	padding: 0;
}
.nomarg {
	margin: 0;
}
.carousel-inner .item img {
	margin: 0 auto;
}

body {
	background-color: transparent;
	margin-top: 20px; /* Top margin */
}
p {
	text-align: justify;
}
h1, h2, h3, h4, h5, h6 {
	width: 100%;
	font-family: 'Exo 2', Arial, Verdana;
}
.links {
	text-align: center;
}
.links ul {
	list-style: none;
	padding: 7.5px 0;
	display: inline-block;
}
